streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
statsmodels==0.14.2
scikit-learn==1.5.1
plotly==5.22.0
geopandas==1.0.1
shapely==2.0.4
pyproj==3.6.1
pyogrio==0.8.0
folium==0.16.0
streamlit-folium==0.21.0
